@model IList<Unit>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <h1 class="display-4">Test Store</h1>
    <ul>
        @foreach (var unit in Model!)
        {
            <li>Id: @unit.Id, Title: @unit.Title</li>
        }
    </ul>
</div>
